version: '3'
services:
  node-exporter:
    image: prom/node-exporter
    ports:
      - 19100:9100

  prometheus:
    image: prom/prometheus
    ports:
      - 19090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - 13000:3000

networks:
  promnet:
    driver: bridge
